package/pico2-bootloader/bootloader/build
package/pico2-bootloader/bootloader/*.uf2
package/pico2-bootloader/bootloader/*.bin
package/pico2-bootloader/bootloader/demo/build
.DS_Store
buildroot-output-docker-images/
.fruitjam.env
__pycache__/
