CONFIG_CMDLINE="earlycon=pl011,mmio32,0x40078000 console=ttyAMA0 root=mtd:cramfs rootfstype=cramfs ro"
CONFIG_ARCH_VIRT=n
CONFIG_ARCH_RP2350=y
CONFIG_GOLDFISH=n

CONFIG_CMDLINE_FALLBACK=y
# CONFIG_CMDLINE_FORCE is not set
# CONFIG_DEBUG_INFO_NONE is not set
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=y
CONFIG_GDB_SCRIPTS=y
CONFIG_MULTIUSER=n
CONFIG_RSEQ=n
CONFIG_LOG_BUF_SHIFT=14
CONFIG_SECCOMP=n
CONFIG_LD_DEAD_CODE_DATA_ELIMINATION=y
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_SMP=n
CONFIG_RISCV_ISA_V=n
CONFIG_RISCV_ISA_C=n
CONFIG_RISCV_ISA_ZAWRS=n
CONFIG_RISCV_ISA_ZABHA=n
CONFIG_RISCV_ISA_ZACAS=n
CONFIG_RISCV_ISA_ZBA=y
CONFIG_RISCV_ISA_ZBB=y
CONFIG_RISCV_ISA_ZBKB=y
CONFIG_RISCV_ISA_ZICBOZ=n
CONFIG_FPU=n
CONFIG_FILE_LOCKING=n
CONFIG_EXT4_FS=n
CONFIG_EXT2_FS=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_PHYS_RAM_BASE_FIXED=y
CONFIG_PHYS_RAM_BASE=0x11000000
CONFIG_SIMPLE_INTC=y
CONFIG_RELOCATABLE=n

CONFIG_BLOCK=n
CONFIG_VIRTIO_BLK=n
CONFIG_VIRTIO_MMIO=n
CONFIG_SERIAL_8250=n
CONFIG_LEGACY_TIOCSTI=n


CONFIG_SUSPEND=n
CONFIG_PM=n

CONFIG_CRC_OPTIMIZATIONS=n

CONFIG_DEBUG_BUGVERBOSE=n

# Fruit Jam bring-up helpers and future peripheral plumbing
CONFIG_DEVMEM=y
# CONFIG_STRICT_DEVMEM is not set
CONFIG_INPUT=y
CONFIG_INPUT_EVDEV=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_KEYBOARD_GPIO=y
CONFIG_NEW_LEDS=y
CONFIG_LEDS_CLASS=y
CONFIG_LEDS_GPIO=y
CONFIG_GPIOLIB=y
CONFIG_GPIO_SYSFS=y
CONFIG_VT=y
CONFIG_TTY=y
CONFIG_VT_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_USB_SUPPORT=y
CONFIG_USB=y
CONFIG_USB_HID=y
CONFIG_HID_GENERIC=y
CONFIG_HID=y
CONFIG_SND=y
CONFIG_SND_SOC=y
CONFIG_SND_SOC_TLV320DAC3100=y
