CONFIG_CMDLINE="earlycon=pl011,mmio32,0x40078000 console=ttyAMA0 console=ttyGS0 root=mtd:cramfs rootfstype=cramfs ro"
CONFIG_ARCH_VIRT=n
CONFIG_ARCH_RP2350=y
CONFIG_GOLDFISH=n

CONFIG_CMDLINE_FALLBACK=y
# CONFIG_CMDLINE_FORCE is not set
CONFIG_DEBUG_INFO_NONE=y
# CONFIG_DEBUG_INFO is not set
# CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT is not set
# CONFIG_GDB_SCRIPTS is not set
CONFIG_MULTIUSER=n
CONFIG_RSEQ=n
CONFIG_LOG_BUF_SHIFT=14
CONFIG_SECCOMP=n
CONFIG_LD_DEAD_CODE_DATA_ELIMINATION=y
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_SMP=n
CONFIG_RISCV_ISA_V=n
CONFIG_RISCV_ISA_C=n
CONFIG_RISCV_ISA_ZAWRS=n
CONFIG_RISCV_ISA_ZABHA=n
CONFIG_RISCV_ISA_ZACAS=n
CONFIG_RISCV_ISA_ZBA=y
CONFIG_RISCV_ISA_ZBB=y
CONFIG_RISCV_ISA_ZBKB=y
CONFIG_RISCV_ISA_ZICBOZ=n
CONFIG_FPU=n
CONFIG_FILE_LOCKING=n
CONFIG_EXT4_FS=n
CONFIG_EXT2_FS=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_PHYS_RAM_BASE_FIXED=y
CONFIG_PHYS_RAM_BASE=0x11000000
CONFIG_SIMPLE_INTC=y
CONFIG_RELOCATABLE=n

CONFIG_BLOCK=y
CONFIG_MSDOS_PARTITION=y
CONFIG_VIRTIO_BLK=n
CONFIG_VIRTIO_MMIO=n
CONFIG_SERIAL_8250=n
CONFIG_LEGACY_TIOCSTI=n


CONFIG_SUSPEND=n
CONFIG_PM=n

CONFIG_CRC_OPTIMIZATIONS=n

CONFIG_DEBUG_BUGVERBOSE=n

# Fruit Jam bring-up helpers and future peripheral plumbing
CONFIG_DEVMEM=y
# CONFIG_STRICT_DEVMEM is not set
CONFIG_RP2350_NEOPIXEL=y
CONFIG_INPUT=y
CONFIG_INPUT_EVDEV=y
CONFIG_INPUT_JOYDEV=y
CONFIG_INPUT_JOYSTICK=y
# CONFIG_INPUT_KEYBOARD is not set
# CONFIG_KEYBOARD_GPIO is not set
# CONFIG_NEW_LEDS is not set
# CONFIG_LEDS_CLASS is not set
# CONFIG_LEDS_GPIO is not set
CONFIG_GPIOLIB=y
CONFIG_GPIO_SYSFS=y
CONFIG_GPIO_RP2350_SIO=y
CONFIG_FRUITJAM_USBHOST_BRIDGE=y
CONFIG_FRUITJAM_DVI=y
CONFIG_I2C=y
CONFIG_I2C_CHARDEV=y
CONFIG_I2C_ALGOBIT=y
CONFIG_I2C_GPIO=y
# CONFIG_VT is not set
CONFIG_TTY=y
# CONFIG_VT_CONSOLE is not set
# CONFIG_FRAMEBUFFER_CONSOLE is not set
CONFIG_USB_SUPPORT=y
CONFIG_USB=y
CONFIG_USB_ANNOUNCE_NEW_DEVICES=y
CONFIG_USB_GADGET=y
CONFIG_USB_RP2040_UDC=y
CONFIG_USB_G_SERIAL=y
CONFIG_U_SERIAL_CONSOLE=y
CONFIG_HID=y
CONFIG_HID_GENERIC=y
CONFIG_USB_HID=y
CONFIG_JOYSTICK_XPAD=y
# CONFIG_JOYSTICK_XPAD_FF is not set
# CONFIG_JOYSTICK_XPAD_LEDS is not set
# CONFIG_SND is not set
# CONFIG_SND_SOC is not set
# CONFIG_SND_SOC_TLV320DAC3100 is not set

CONFIG_NET=y
CONFIG_UNIX=y
CONFIG_INET=y
CONFIG_IP_PNP=n
CONFIG_IPV6=n
# CONFIG_PACKET is not set
CONFIG_NETDEVICES=y
# CONFIG_DUMMY is not set
# CONFIG_TUN is not set
# Keep loopback/TCP userspace services, but do not pull in broad desktop
# network-driver families on this 8 MiB no-MMU target.
CONFIG_INET_DIAG=n
CONFIG_INET_TCP_DIAG=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_BPF=n
# CONFIG_BPF is not set
# CONFIG_NET_RX_BUSY_POLL is not set
CONFIG_BQL=n
CONFIG_WIRELESS=n
CONFIG_ETHERNET=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_WLAN=n
CONFIG_PPS=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_NETWORK_FILESYSTEMS=n
# CONFIG_GPIO_CDEV is not set
# CONFIG_GPIO_CDEV_V1 is not set
# CONFIG_CONFIGFS_FS is not set

CONFIG_FAT_FS=y
CONFIG_MSDOS_FS=y
CONFIG_VFAT_FS=y
CONFIG_NLS=y
CONFIG_NLS_DEFAULT="iso8859-1"
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_ISO8859_1=y

CONFIG_SPI=y
CONFIG_SPI_MASTER=y
CONFIG_SPI_PL022=y
CONFIG_SPI_SPIDEV=y
CONFIG_MMC=y
CONFIG_MMC_BLOCK=y
CONFIG_MMC_SPI=y
CONFIG_FRUITJAM_AIRLIFT_GPIO=y
CONFIG_FRUITJAM_RP2350_ADC=y
CONFIG_FRUITJAM_AUDIO_CLOCK=y
